<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Plano de Ação</title>
</head>
<body>
    <style>
        .hidden {
            display: none
        }
    </style>

    <h2>Incluir novo Plano de Ação</h2>
    <form id="planform" action="." method="POST" class="form" autocomplete="off">
        {% csrf_token %}
        {{ planform.as_p }}
        <h3>Itens do Plano de Ação</h3>
        {{ form_item.management_form }}
        <div id="iteminline-form-list">
            {% for item in form_item %}
                <div class="iteminline-form">
                    {{ item.as_p }}
                    <hr>
                </div>
            {% endfor %}
        </div>
        <div id="empty_itemform" class="hidden">{{ form_item.empty_form.as_p }}</div>
        <button id="add-item" type="button" >Adicionar Item</button>
        <button id="save-plan" type="submit" value="Salvar">Salvar</button>
    </form>
    <a href="{% url 'plano:planlist' %}"><button>Cancelar</button></a>

<script>
    
    const addItemBtn = document.getElementById('add-item')
    const totalNewItemForms = document.getElementById('id_item_plano-TOTAL_FORMS')
    addItemBtn.addEventListener('click', add_new_itemForm)

    function add_new_itemForm(event){
        if (event){
            event.preventDefault()
        }
        const currentItemForms = document.getElementsByClassName('iteminline-form')
        const currentItemFormCount = currentItemForms.length // + 1
        const itemFormCopyTarget = document.getElementById('iteminline-form-list')
        const copyEmptyItemFormEl = document.getElementById('empty_itemform').cloneNode(true)
        copyEmptyItemFormEl.setAttribute('class', 'iteminline-form')
        copyEmptyItemFormEl.setAttribute('id', `form-${currentItemFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyItemFormEl.innerHTML = copyEmptyItemFormEl.innerHTML.replace(regex, currentItemFormCount)
        totalNewItemForms.setAttribute('value', currentItemFormCount + 1)
        itemFormCopyTarget.append(copyEmptyItemFormEl)
    }
</script>

</body>
</html>