<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Tem certeza que seja apagar o Plano '{{ object.nome }}'?</h3>
    <form action="." method="POST">
        {% csrf_token %}
        <button type="submit">Sim, tenho certeza.</button>
        <button type="reset" onclick="location.href='{% url 'plano:planlist' %}'">Não quero apagar.</button>
    </form>
</body>
</html>