{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Plano</title>
</head>

<body>
    <h3>Criar Plano</h3>
    <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        {% for ft in inlines %}
            {{ ft.as_p }}
        {% endfor %}
        <button id="add-item" type="button">Adicionar Item</button>
        <button id="save-plano" type="submit" value="Salvar">Salvar</button>
    </form>
</body>
</html>