{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Dashboard</title>
</head>

<body>
<header>
    <div class="head-site">
        <div class="box-menu">
            <input type="checkbox" id="check">
            <div class="menu-icon">
                <label for="check">
                    <i class="fas fa-bars"></i>
                </label>
            </div>
            <div class="sidebar-menu">
                <div class="sidebar-perfil">
                    <i class="fas fa-user-circle"></i>
                    <a href="{% url 'account:editprofile' %}">Editar Perfil</a>
                </div>
                <div class="btn-close">
                    <label for="check">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                </div>
                <nav class="menu">
                    <ul>
                        <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'plano:planlist' %}">Planos de Ações</a></li>
                        <li><a href="#">Mensagem</a></li>
                        <li><a href="#">Configurações</a></li>
                        <li><a href="#">Ajuda</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="logo">
            <a href="{% url 'account:dashboard' %}"><img src="{% static '/img/logo-white.png' %}" alt=""></a>
        </div>
        <div class="logout-icon">
            <a href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</header>
<div class="content-listplan">
    <div class="box-listplan">
        <div class="line-tools">
            <a href="{% url 'plano:adicionarplano' %}"><i class="fas fa-plus"></i>Novo Plano</a>
        </div>
        <p class="all-plan-title">Resumo dos Planos</p>
        <div class="box-cardlist">
            {% for plano in object_list %}
                <div class="card-plan">
                    <p class="line-title">{{ plano.nome }}</p>
                    <p>Responsável: {{ plano.responsavel_plano }}</p>
                    <p>Indicador: {{ plano.indicador_estrategico }}</p>
                    <a href="{% url 'plano:plandetail' pk=plano.id %}">Detalhes</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>