@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

::before, ::after{
    box-sizing: border-box;
}

/**** LOGIN ****/

.wrapper{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-messages{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.login-messages{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-messages h4{
    color: #1bcedf;
    background-color: #2c1a4d;
    height: auto;
}

.login-content{
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 20px;
    background:linear-gradient(135deg, #5b247a 0%,#1bcedf 100%);
}

.login-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.login-logo img{
    height: 50px;
    margin-bottom: 10px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.login-form form input{
    width: 80%;
    margin-top: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #f3f3f3;
    height: 40px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    background-color: transparent;
    color: white;
}

input::placeholder{
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.login-form form button{
    height: 45px;
    margin-top: 30px;
    width: 80%;
    border: none;
    display: block;
    background-color: #52688F;
    font-size: 21px;
    color: white;
    padding: 0;
    cursor: pointer;
}

.login-form form button:hover{
    transition: .5s;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #5186bb 0%, #9777b6 100%);
}

.login-forget-pass{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-forget-pass p{
    width: auto;
    font-size: 14px;
    color: #ffffff;
    margin-top: 30px;
}

.login-forget-pass a{
    color: #ffffff;
    text-decoration: underline;
}

/* MENU VERTICAL */

.box-menu{
    top: 0;
    position: absolute;
}

.box-menu .sidebar-menu{
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 280px;
    position: fixed;
    overflow: hidden;
    left: -280px;
    transition: all .2s linear;
    background-color: white;
}

.box-menu .sidebar-perfil{
    display: flex;
    position: absolute;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dadada;
    background-color: rgb(242, 251, 255);
}

.box-menu .sidebar-perfil i{
    position: absolute;
    color: #2f3134;
    font-size: 22px;
    font-weight: 500;
    left: 50px;
    z-index: 2;
}

.box-menu .sidebar-perfil a{
    color: #2f3134;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    left: 80px;
    line-height: 60px;
    background-color: rgb(242, 251, 255);
}

.sidebar-menu .menu{
    position: absolute;
    top: 100px;
    width: 100%;
    line-height: 40px;
    padding: 0px 30px;
    background-color: white;
}

.sidebar-menu .menu li{
    padding: 10px 15px;
    border-bottom: 1px solid #dadada;
    list-style: none;
    background-color: white;
}

.sidebar-menu .menu li a{
    color: #2f3134;
    font-weight:600;
    background-color: white;
}

.sidebar-menu .btn-close i{
    font-size: 18px;
    top: 20px;
    position: absolute;
    left: 240px;
    color: #2f3134;
    cursor: pointer;
    background-color: rgb(242, 251, 255);
}

.sidebar-menu .btn-close i:hover{
    font-size: 19px;
}

#check {
    display: none;
}

#check:checked ~ .sidebar-menu{
    left: 0;
}


/* HEADER DA PÁGINA */

.main-header {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background: #1f628a;
}

.head-site{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1260px;
    height: 45px;
}

.menu-icon{
    margin-left: 10px;
    padding-top: 10px;
}

.menu-icon i{
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

.head-site .logo{
    width: auto;
}

.head-site .logo img{
    height: 30px;
}

.head-site .logout-icon{
    margin-right: 10px;
}

.head-site .logout-icon i{
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
}

/* END HEADER SITE*/

/* START CONTENT-SITE*/

.content-site{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200vh;
    background-color: #f3f3f3;
}

.content-site .dashboard-container-p1{
    width: 1200px;
    height: 100vh;
}

.content-site .dashboard-container-p1 iframe{
    margin-top: 90px;
    width: 1200px;
    height: 85vh;
}

.content-site .dashboard-container-p2{
    width: 1200px;
    height: 100vh;
    background-color: beige;
}

/* END CONTENT-SITE*/


/* START BOX-REGISTER */

.box-register{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-register .box-register-form{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(135deg, #5b247a 0%,#1bcedf 100%);
}

.box-register .box-register-form a img{
    height: 40px;
    margin-top: 10px;
}

.box-register-form form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.box-register-form input{
    margin-top: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #f3f3f3;
    height: 40px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    background-color: transparent;
    color: white;
}

.box-register-form input::placeholder{
    font-size: 16px;
    color: #f3f3f3;
}

.box-register-form form [type="submit"]{
    height: 45px;
    margin-top: 30px;
    width: 100%;
    border: none;
    display: block;
    background-color: #52688F;
    font-size: 21px;
    color: white;
    padding: 0;
    cursor: pointer;
}

.box-register-form form [type="submit"]:hover{
    transition: .5s;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #5186bb 0%, #9777b6 100%);
}

.box-register-form p{
    font-size: 14px;
    color: #f3f3f3;
    margin-bottom: 30px;
}

.box-register-form a{
    color: #f3f3f3;
    text-decoration: underline;
}

/* END BOX-REGISTER */


/* START CONTENT-LISTPLAN */

.content-listplan{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
}

.content-listplan .box-listplan{
    width: 100%;
    max-width: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.line-tools{
    padding: 5px;
    font-size: 13px;
    margin-top: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 1260px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: auto;
    width: auto;
    padding: 3px 15px;
    background-color: #1f628a;
    color: #f3f3f3;
    border: none;
}

button:hover{
    background-color: #164966;
}

.line-tools i{
    margin-right: 8px;
    color: #f3f3f3;
    font-size: 15px;
    z-index: 0;
}

.box-cardlist{
    display: grid;
    width: 100%;
    max-width: 1260px;
    justify-content: center;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.box-listplan .card-plan{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding-bottom: 20px;
    border-radius: 3px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.card-plan p{
    padding-left: 10px;
}

.card-plan i{
    font-size: 15px;
    margin-right: 5px;
}

.card-plan p .card-title{
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}

.card-plan a{
    font-size: 15px;
    font-weight: 500;
    color: #2f3134;
    padding-left: 10px;
    width: 100px;
    background-color: #e8eff0;
}

.box-listplan .line-title{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: auto;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #f1f1f1;
}

.box-listplan p{
    font-size: 14px;
    font-weight: 400;
    color: #2f3134;
}

.all-plan-title{
    padding: 5px;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 1260px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.all-plan-title i{
    margin-right: 8px;
    color: #2f3134;
    font-size: 15px;
}

/***** DETAIL PAGE *****/

.content-detail-page{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 55px;
}

.line-tools a{
    display: flex;
    align-items: center;
    padding: 2px 10px;
    width: auto;
    height: auto;
    margin-right: 8px;
    background-color: #1f628a;
    color: white;
    border-radius: 3px;
}

.line-tools a:hover{
    color: white;
    background-color: #0e4b70;
    transition: 0.7s;
    text-decoration: none;
}

.content-detail-box{
    width: 100%;
    max-width: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    min-height: 100vh;
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.content-detail-box h5{
    font-size: 15px;
    font-weight: 700;
}

.content-detail-box i{
    font-size: 15px;
    margin-right: 10px;
}

.content-detail-box p{
    font-size: 14px;
    margin-left: 26px;
}

.content-detail-box{
    width: 100%;
    max-width: 1260px;
    height: auto;
}

.content-detail-box table thead a{
    margin-left: 15px;
}

th, td{
    font-size: 13px;
}

.detail-act-buttons{
    width: 100%;
    max-width: 1260px;
    height: auto;
}


/******* CREATE PLAN PAGE *******/

.createplan-content{
    display: flex;
    justify-content: center;
    padding-top: 75px;
    width: 100%;
    height: auto;
}

.createplan-content-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1260px;
    height: auto;
}

.createplan-content-form h4{
    font-size: 15px;
    font-weight: 500;
}

.hidden {
    display: none
}

.iteminline-form-list{
    width: 100%;
    max-width: 1260px;
}

.createplan-content-form form, select, input{
    width: 100%;
    font-size: 13px;
}

.createplan-content-form form select, input{
    background-color: white;
    border: none;
    height: 25px;
    color: #2f3134;
}

.iteminline-form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 10px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.button-option{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button-option button{
    margin-right: 20px;
}