{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Dashboard</title>
</head>

<body>
<header class="main-header">
    <div class="box-menu">
        <input type="checkbox" id="check">
        <div class="sidebar-menu">
            <div class="sidebar-perfil">
                <i class="fas fa-user-circle"></i>
                <a href="{% url 'account:editprofile' %}">Editar Perfil</a>
            </div>
            <div class="btn-close">
                <label for="check">
                    <i class="fas fa-arrow-left"></i>
                </label>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="{% url 'account:dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'plano:planlist' %}">Planos de Ações</a></li>
                    <li><a href="#">Mensagem</a></li>
                    <li><a href="#">Configurações</a></li>
                    <li><a href="#">Ajuda</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="head-site">
        <div class="menu-icon">
            <label for="check">
                <i class="fas fa-bars"></i>
            </label>
        </div>
        <div class="logo">
            <a href="{% url 'account:dashboard' %}"><img src="{% static '/img/logo-white.png' %}" alt=""></a>
        </div>
        <div class="logout-icon">
            <a href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</header>

<!-- Content Site -->
<div class="content-site">
    <!-- Dashboard Part-1 -->
    <div class="dashboard-container-p1">
        
    </div>
    <!-- End Dashboard Part-1 -->


    <!-- Dashboard Part-2 -->
    <div class="dashboard-container-p2">

    </div>
    <!-- End Dashboard Part-2 -->
</div>
<!-- End content site -->

</body>

</html>