{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Login</title>
</head>
<body>

    <div class="wrapper">
        <div class="login-messages">
            {% if messages %}
                {% for message in messages %}
                <h4>{{ message }}</h4>
                {% endfor %}
            {% endif %}
        </div>

        <div class="login-content">
            <div class="login-logo">
                <a href="#"><img src="{% static '/img/logo-white.png' %}" alt=""></a>
            </div>
            <div class="login-form">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Email ou nome de usuário" autofocus>
                    <input type="password" name="password" placeholder="Sua senha" autofocus>
                    <button type="submit">Entrar</button>
                </form>
            </div>
            <div class="login-forget-pass">
                <p>Esqueceu a senha? <a href="#"> Clique aqui.</a></p>
            </div>
        </div>
    </div>
    
</body>
</html>
