{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Registrar</title>
</head>
<body>
    <div class="box-register">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %} 
        <div class="box-register-form">
            <a href="#"><img src="{% static '/img/logo-white.png' %}" alt=""></a>
            <form method="POST">
                {% csrf_token %}
                {% if fields.help_text %}
                    <p class class="help-text">{{ fields.help_text }}</p>
                {% endif %}
                {{ field.errors }}
                <input type="text" name="username" placeholder="Nome de Usuário" autofocus>
                <input type="email" name="email" placeholder="Email" autofocus>
                <input type="password" name="password" placeholder="Senha" autofocus>
                <input type="password" name="password2" placeholder="Repetir Senha" autofocus>
                <input type="submit" value="Registrar">
            </form>
            <p>Já tem uma conta? <a href="{% url 'account:login' %}">Faça login.</a></p>
        </div>
    </div>
</div>