<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Index</title>
</head>

<body>
<header>
    <div class="head-site">
        <div class="box-menu">
            <input type="checkbox" id="check">
            <div class="menu-icon">
                <label for="check">
                    <i class="fas fa-bars"></i>
                </label>
            </div>
            <div class="sidebar-menu">
                <div class="sidebar-perfil">
                    <i class="fas fa-user-circle"></i>
                    <a href="#">Alterar perfil</a>
                </div>
                <div class="btn-close">
                    <label for="check">
                        <i class="fas fa-arrow-left"></i>
                    </label>
                </div>
                <nav class="menu">
                    <ul>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="#">Planos de Ações</a></li>
                        <li><a href="#">Mensagem</a></li>
                        <li><a href="#">Configurações</a></li>
                        <li><a href="#">Ajuda</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="logo">
            <a href="#"><img src="/img/logo.png" alt=""></a>
        </div>
        <div class="logout-icon">
            <i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</header>

<!-- Content Site -->
<div class="content-site">
    <!-- Dashboard Part-1 -->
    <div class="dashboard-container-p1">
        <iframe title="Relatório de Execução Orçamentária" width="1200" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiZjQ2MTlkNDQtMjMyZC00NDljLWIyOGYtNjE0OTdhMGM0NTQ4IiwidCI6ImNjYzI1NDk4LTc2MTMtNDEyMC1iODIzLTFlYWM2ZGM4ZTdiZiJ9&pageName=ReportSection38dc62c1e632443af4da" frameborder="0" allowFullScreen="true"></iframe>
    </div>
    <!-- End Dashboard Part-1 -->


    <!-- Dashboard Part-2 -->
    <div class="dashboard-container-p2">

    </div>
    <!-- End Dashboard Part-2 -->
</div>
<!-- End content site -->

</body>

</html>